[Unit]
Description=Fix Marzban log permissions for node agent
After=marzban.service

[Service]
Type=oneshot
ExecStart=/bin/chmod 644 /var/lib/marzban-node/access.log
ExecStart=/bin/chmod 755 /var/lib/marzban-node/
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
